@import "tailwindcss";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .url-part {
    @apply rounded py-0.5 px-1;
  }

  .url-scheme {
    @apply rounded py-0.5 px-1 bg-blue-300 text-blue-800 dark:bg-blue-900 dark:text-blue-200;
  }

  .url-domain {
    @apply rounded py-0.5 px-1 bg-green-200 text-green-800 dark:bg-green-900 dark:text-green-200;
  }

  .url-port {
    @apply rounded py-0.5 px-1 bg-purple-200 text-purple-800 dark:bg-purple-900 dark:text-purple-200;
  }

  .url-path {
    @apply rounded py-0.5 px-1 bg-orange-200 text-orange-800 dark:bg-orange-900 dark:text-orange-200;
  }

  .url-query {
    @apply rounded py-0.5 px-1 bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-200;
  }

  .url-fragment {
    @apply rounded py-0.5 px-1 bg-blue-200 text-blue-800 dark:bg-blue-900 dark:text-blue-200;
  }

  .variable-pill {
    @apply rounded-full py-1 px-2 font-medium text-white;
  }
}
