@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .url-part {
    @apply px-1 py-0.5 rounded;
  }

  .url-scheme {
    @apply url-part bg-blue-300 text-blue-800 dark:bg-blue-900 dark:text-blue-200;
  }

  .url-domain {
    @apply url-part bg-green-200 text-green-800 dark:bg-green-900 dark:text-green-200;
  }

  .url-port {
    @apply url-part bg-purple-200 text-purple-800 dark:bg-purple-900 dark:text-purple-200;
  }

  .url-path {
    @apply url-part bg-orange-200 text-orange-800 dark:bg-orange-900 dark:text-orange-200;
  }

  .url-query {
    @apply url-part bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-200;
  }

  .url-fragment {
    @apply url-part bg-blue-200 text-blue-800 dark:bg-blue-900 dark:text-blue-200;
  }

  .variable-pill {
    @apply px-2 py-1 rounded-full font-medium text-white;
  }
}
